<li>
  <div class="col-items">
    <span class="wrap-thumb"><img src="{{imgSrc}}" width="40" alt=""></span>
  </div>
  <div class="col-items">
    <dl class="list-desc">
      <dt class="screen-out">제목</dt>
      <dd>{{title}}</dd>
      <dt class="screen-out">개봉</dt>
      <dd>{{pubYear}}</dd>
    </dl>
  </div>
</li>