<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RX-Kanbanboard</title>
</head>
<body>
    <div id="wrap">
        <div id="App">
            <div id="suggestApp">
                <h3>서제스트 앱</h3>
                <label for="suggestInput">검색</label>
                <input type="search" id="suggestInput" autocomplete="off"/>
                <div id="suggestView">
                    <ul id="suggestList"></ul>
                </div>
            </div>
            <div id="board">

            </div>
        </div>
    </div>
    <script src="rx-kanban-bundle.js"></script>
</body>
</html>